body {
background-image:url("../images/Background.jpg");
  height: 100%;

}





     #footer1
     {


background-image:url("../images/Background.jpg");




        position: absolute;
        border: 2px solid ;
        top: 100px;
        left: 920px;
        height: 240px;
        width: 250px; 
        border-radius: 2px;



     }

     




     #footer2
     {

      background-image: url("../images/Background.jpg");
position: fixed;
border: 2px solid;
top: 130px;
left: 115px;
height: 320px;
width: 250px;
border-radius: 2px;

}
 #p1
     {


        background-color: black;
        position: absolute;
        border: 2px solid ;
        height: 125px;
        width: 225px; 
        left: 10px;
        border-radius: 5px;
        opacity: 0.4;






     }



#mil
{

   position: fixed;
      top:47px;
      left: 405px;
      height: 590px;
      width: 485px;

}

#stade
{
background-image:url("../images/stade.png");
position: relative;
 height: 585px;
  width: 480px;


  border: 2px solid ; 
  border-radius: 10px;
  overflow: hidden;

}



.ui-sortable{
  min-height:50px;padding:auto;}


#Joueur
{
cursor: move;
width: 45px;
height: 35px;

}

#Joueur1  {
 border-radius: 10px;
border-color: black;
 
  width: 70px;
  height: 75px;

  
  text-align: center;

position: absolute;
 left: 215px; top: 64px;


}


#Joueur2  {
 border-radius: 10px;
border-color: black;
 
  width: 70px;
  height: 75px;

  
  text-align: center;




}




#Joueur3  {
 border-radius: 10px;
border-color: black;
 
  width: 70px;
  height: 75px;

  
  text-align: center;




}

#Joueur4  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;




}



#Joueur5  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;




}


#Joueur6  {
 border-radius: 10px;
border-color: black;
 
  width: 70px;
  height: 75px;

  
  text-align: center;




}

#Joueur7 {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;



}



#Joueur8  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;





}


#Joueur9  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;




}


#Joueur10  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

  
  text-align: center;




}



#Joueur11  {
 border-radius: 10px;
border-color: black;

  width: 70px;
  height: 75px;

      position: fixed;

  text-align: center;




}





#test  {
  height: 18px;
  border: 4px solid black ;

  text-align: center;
  border:hidden 5px #d925d9;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 6px;
background-color: red;

}




 select {
 


  left: 420px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  border-radius: 4px;
  background:rgba(70,70,70,0.5);
  height: 240px;
  width: 250px;

  }









#test:hover  {

background-color:  #3875D7;





cursor:move;
}

#test  {
  height: 18px;

  border: 1px solid ;
  border-color: black;

  text-align: center;
  border:hidden 5px #d925d9;

border-radius: 6px;
background-color: white;

}
#test1  {
  width: 70px;
  height: 20px;

  border: 2px solid ;
  border-color: black;

  text-align: center;*/
  border:hidden 5px #d925d9;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
background-color: #E1E1E1;

}


#test2  {
  width: 70px;
  height: 20px;

  border: 2px solid ;
  border-color: black;

  text-align: center;
  border:hidden 5px #d925d9;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
background-color: #E1E1E1;

}
#example-1-1
{

  height: 480px;
  width: 380px;
margin-left: 950px;
margin-top: -485px;

  border: 1px solid ;
  overflow-y: auto;
  overflow-x: hidden;

}
.sortable-item {
    height: 10px;
  width: 300px;
  background-color: #FFF;
  border-color : black;
  border: 2px solid #000;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px 0;
  text-align: center;
}


#im:hover
{

box-shadow: 0px 0px 15px 2px red;
    top: 530px;

}


.placeholder {
  background-color: black;
  opacity: 0.5;
  border: 1px ;
  border-radius: 6px;
  height: 20px;
  margin-bottom: 5px;
}


#pos
{
position: absolute;
width :50px;
height: 50px;

top : 10px ;
}

#pos:hover
{
cursor: pointer ;
}







$colorWhite: rgba(255,255,255,1);
$colorDamnLight: rgba(0,220,220,1);
$colorLight: rgba(0,190,190,1);
$colorDark: rgba(60,60,60,1);
$colorBlack: rgba(33,33,33,1);
$fontSize: 18px;



.glow {
  @include box-shadow(
    0 0 25px $colorDamnLight,
    0 1px 5px $colorBlack
  );
  border-color: $colorDamnLight;
  background: $colorDamnLight;
  color: rgba($colorBlack, .7);
}

.scifiUI {
  width: 300px;
  margin: 100px auto;
  
  &:hover {
    h1 {
      @extend .glow;
      
      &:after {
        border-top-color: rgba($colorBlack, .7);
      }
    }
    ul li {
      @include transform(skew(0));
      @extend .glow;
      width: 300px;
      height: 50px;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          left: 0;
        }
      }
    }
  }
  
  * {
    @include transition(all 300ms ease-in-out);
  }
  

  
  ul {
    list-style: none;
    position: relative;
    top: -20px;
    
    li {
      @include transform3d(
        skew(45deg)
        scaleY(-3)
      );
      @include box-shadow(0 3px 0 5px $colorBlack inset);
      position: absolute;
      display: block;
      width: 200px;
      height: 50px;
      line-height: 50px;
      border: 1px solid $colorLight;
      background: $colorDamnLight;
      text-align: center;
      font-size: 1.6em;
      cursor: pointer;
      
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          top: 50px * ($i - 1);
          @if $i % 2 == 0 {
            left: 500%;
          } @else {
            left: -500%;
          }
        }
      }
    
      &:hover {
        @include transform3d(
          scale(1.08)
        );
        font-size: 1.8em;
        z-index: 99;
      }
    }
  }
}




 #option
 {
      background-image: url("../images/Background.jpg");


position: absolute;
border: 2px solid;
top: -72px;
left: 817px;
height: 55px;
width: 250px;
 }

 #score
     {
color:white;

background-image:url("../images/Background.jpg");




        position: fixed;
        border: 2px solid ;
        top: 355px;
        left:922px;
        height: 240px;
        width: 250px; 
        border-radius: 2px;



     }



 .logoTeam1{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid red;
  position: relative;
  color: white;
}
 

input{
   text-align:center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #909;
}
 
 #t{
  width: 100%;
          background-color: white;
     
 }

 #match img{

height: 80px;
width: 100px;
color:white;

 }




     #LoginFB
     {

position: fixed;
top: 80px;
left: 85px;
height: 120px;
width: 300px;
border-radius: 2px;
color:white;
border:2px solid red;
}



.page-lock .lock-centered {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-top: -65px;
}
@media screen and (min-width: 768px) {
  .page-lock .lock-centered {
    margin-top: -75px;
  }
}
.page-lock .lock-container {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
}
.page-lock .lock-box {
  position: absolute;
  left: 0;
  right: 0;
}
.page-lock .lock-box .lock-user {
background-color: rgba(0, 0, 0, 0.3);
  width:170px;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-top: 50px;
  padding: 0 20px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: white;
  text-shadow:1px 0px 15px #0022ff;

  border-radius: 10px;
}
.page-lock .lock-box .lock-img img {
  position: absolute;
  border-radius: 50%;
  left: 40%;
  width: 80px;
  height: 80px;
  border: 6px solid white;
  background: white;
}
@media screen and (min-width: 768px) {
  .page-lock .lock-box .lock-img img {
    left: 33%;
    width: 82px;
    height: 82px;
    border: 2px solid white;
  }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  position: fixed;
  background: black;
  width: auto;
  position: relative; left: 0px; top: -8px;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a .before{
      opacity: 1;

}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  opacity: 0.5;

  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  opacity: 1;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: white;
}


#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: white;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color:white;
  opacity: 1;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;

}
#cssmenu.align-right li:first-child a:after {
  display: none;

}


