body
{

background-image: url('../images/baci.png');

}


#divfull
{

  width:850px; 
  height:600px;
  background-color: black;
  background: rgba(0, 0, 0, 0.8);



}

#divhover
{
position: fixed;
  height: 300px;
  width: 245px;
  top:240px;
  left: 560px;

background: rgba(0, 0, 0, 0.1);



}
