body {
background-image:url("../images/Background.jpg");
  height: 100%;

}



     #footer1
     {


background-image:url("../images/Background.jpg");




        position: absolute;
        border: 2px solid ;
        top: 100px;
        left: 920px;
        height: 320px;
        width: 250px; 
        border-radius: 2px;



     }


     #footer2
     {

      background-image: url("../images/Background.jpg");
position: absolute;
border: 2px solid;
top: 100px;
left: 100px;
height: 320px;
width: 250px;
border-radius: 2px;
}

#mil
{

   position: absolute;
      left: 400px;
      height: 590px;
      width: 485px; 
}

#stade
{
background-image:url("../images/stade.png");
position: relative;
 height: 585px;
  width: 480px;


  border: 2px solid ; 
  border-radius: 10px;

}






#Joueur
{
cursor: move;
width: 45px;
height: 35px;
}
#Joueur1  {
 border-radius: 10px;
border-color: black;
 
  width: 70px;
  height: 75px;

  
  text-align: center;*/

position: absolute;
 left: 215px; top: 64px;


}

#test  {
  width: 70px;
  height: 18px;

  border: 1px solid ;
  border-color: black;

  text-align: center;*/
  border:hidden 5px #d925d9;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 6px;
background-color: white;

}



 select {
 
height : 220px;
  }

 select:hover {

  }
  option:hover{

    background-color: black;
  }







